<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDBConnectionString" connectionString="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD2C2018;User ID=gdEspectaculos2018;Password=gd2018" />
  </connectionStrings>
  <appSettings>
    <add key="FechaSistema" value="2018-01-01 00:00:00" />
  </appSettings>
</configuration>